<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <script>
    function myFunction()
    {
        document.getElementById("demo").innerHTML="我的第一个 JavaScript 函数";
    }
    window.alert('nihao')
    </script>
    <h1>这是标题</h1>
    <p>这是段落</p>
    <a href="https://www.runoob.com/html/html-basic.html">这是链接</a>
    <hr>
    <h2>第二标题</h2>
    <p>这个<br>段落<br>演示了分行的效果</p>
    <a href="https://www.runoob.com/html/html-links.html" target="_blank" rel="noopener noreferrer">打开新页面访问链接</a>
    <a id="是个tips标签" href=""></a>
    <button type="button" onclick="myFunction()">测试一个js</button>
</body>
</html>